{% extends "base.html" %}

{% block content %}
<h2>À propos de l'Agenda du libre du Québec</h2>
<h3>Pourquoi?</h3>
<p>Auparavant, linux-quebec.org offrait un calendrier des activités pouvant toucher aux logiciels libres mais surtout liées à Linux.  Depuis que linux-quebec.org n'existe plus, il n'y avait plus de ressource en ligne pour faire la promotion d'un évènement libre au Québec. C'est après une requête pour un flux iCal des événements Python sur la liste de <a href="http://montrealpython.org/">MontréalPython</a> que <a href="http://www.pierlux.com">Pierre-Luc Beaudoin</a> a décidé de fonder ce site.</p>

<h3>Comment?</h3>
<p>L'Agenda du libre du Québec est une copie conforme de l'<a href="http://www.agendadulibre.org">agendadulibre.org</a> (France).  Puisque ce dernier est disponible sous licence GPL, la mise en place de ce clône a été plutôt rapide. Plusieurs textes de la version québécoise proviennent de la version française. </p>
<p> Dans les détails, la version québécoise est une réimplémentation en Django de leur version en PHP.  Ce changement technologique s'est avéré nécessaire dû au fait que la version de France n'a pas de séparation MVC, rendant difficile la création d'une version avec des textes différents. Néanmoins, le principe de fonctionnement est idéal et il a été reproduit avec minutie.</p>
<p> Cette version est disponible sous licence <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">GNU Affero General Public License</a>.  C'est une licence qui est plus restritive que la <a href="http://www.fsf.org/licensing/licenses/gpl-3.0.html">GNU General Public License</a> dû au fait qu'elle oblige les applications accessibles via le Web à rendre leur code source disponible. Le code source est disponible <a href="https://bitbucket.org/mlhamel/agendadulibre">ici</a>. Ce changement de licence est possible puisque L'Agenda du libre du Québec ne contient aucune ligne de code de l'original.</p>
<p>Le logo est un mélange de l'icône <a href="http://tango.freedesktop.org">Tango</a> pour applications de calendrier et de la fleur de lys du drapeau du Québec.  Les icônes proviennent également du projet Tango.</p>
<p>L'Agendu du libre du Québec est administré par <a href="http://www.mlhamelorg">Mathieu Leduc-Hamel</a>.</p>

<h3>Pourquoi la semaine débute le lundi?</h3>
<p>Il existe un flou tengible sur quand doit débuter officiellement la semaine au Québec. Historiquement, les pays anglosaxons utilisent le dimanche comme premier jour.  La France utilise le lundi et c'est d'ailleurs ce que recommande l'Office québécois de la langue française. Au bout du compte, le Canada applique les normes ISO, par conséquent, la semaine débute le lundi comme le stipule ISO 8601.  C'est ce que ce site a choisi. </p>
<p>Par ailleurs, ce site offre plusieures manières d'exporer les données vers votre logiciel de calendrier favori dans lequel vous pourrez choisir le premier jour de la semaine qui vous convient.</p>
<h3>Historique</h3>
<ul>
  <li>20 avril 2010
    <ul>
      <li>L'Agenda du libre du Québec est dirigé par Mathieu Leduc-Hamel</li>
  </li>
  <li>8 décembre 2009
    <ul>
      <li>Les liens vers Google Calendar ont été remis en place puisque les événements s'importent correctement maintenant.</li>
    </ul>
  </li>
  <li>1 décembre 2009
    <ul>
      <li>Les liens vers Google Calendar ont été retirés tant que Google Calendar n'importera pas les données correctement.  Nous travaillerons à corriger ce bogue prochainement.</li>
    </ul>
  </li>
  <li>30 novembre 2009
    <ul>
      <li>Lancement du site</li>
    </ul>
  </li>
</ul>
{% endblock %}

