{% load banner %}
{% load i18n %}

<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    {% block title %}
      <title>{% trans "L'Agenda du libre du Québec" %}</title>
    {% endblock title %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="rz4d48R0H-Yiap5gO405faHZiTN-MiLNkkmlbhjsNSY" />
    <link rel="stylesheet" type="text/css" href="/media/moderne.css" title="Moderne" />
    <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.png" />
    {% block feeds %}
    {% endblock feeds %}
    <link rel="alternate"
          href="/event/feeds/latest/"
          title="{% trans "Agenda du libre du Québec, nouveaux évènements" %}"
          type="application/rss+xml" />
    <link rel="alternate"
          href="/event/feeds/upcoming/"
          title="{% trans "Agenda du libre du Québec, prochains évènements" %}"
          type="application/rss+xml" />
    <link rel="alternate"
          href="/event/calendar/"
          title="{% trans "Agenda du libre du Québec, calendrier numérique" %}"
          type="text/calendar" />
  </head>

  <body>
    <a href="https://github.com/mlhamel/agendadulibre"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <div class="header">
      <a href="/"><img class="logo" src="/media/img/logo.png"/></a>
      <div class="actions">
        {% block actions %}
        <div class="action">
          <a href="/event/new/">
            <img src="/media/img/appointment-new.png" />
          </a>
          <a href="/event/new/">{% trans "Proposer un événement" %}</a>
        </div>
        {% if not user.is_authenticated %}
          <div class="action">
            <a href="/login/">
              <img width="16" src="/media/img/login.png" />
            </a>
            <a href="/login/">{% trans "Connexion" %}</a>
          </div>
        {% else %}
          <div class="action">
            <a href="/logout">
              <img width="16" src="/media/img/login.png" />
            </a>
            <a href="/logout/">{% trans "Déconnexion" %}</a>
          </div>
        {% endif %}
        <div class="action">
          <a href="/event/feeds/">
            <img src="/media/img/rss.png" />
          </a>
          <a href="/event/feeds/">{% trans "Fils RSS et iCal" %}</a>
        </div>
        {% endblock %}
        <div class="language-selector action" style="margin-top: 4px; margin-left: 20px;">
          <form action="/i18n/setlang/" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% for code, language in LANGUAGES %}
              <option value="{{ code }}" {% if code == LANGUAGE_CODE %}selected="selected"{% endif %}>{{ language }} ({{ code }})</option>
              {% endfor %}
            </select>
            <input type="submit" value="Go" />
          </form>
        </div>
      </div>
      <h1>
        <a href="/">{% trans "L'Agenda du libre du Québec" %}</a>
      </h1>
      <p id="subtitle">{% trans "Tous les événements du Québec à propos de l'informatique libre" %}</p>
    </div>
    <div class="main">
      {% block content %}
      {% endblock content %}
    </div>
    <div class="footer">
      <p>
        <a href="{% url 'index' %}">
          {% trans "Agenda" %}
        </a> -
        <a href="{% url 'about' %}">
          {% trans "À propos" %}
        </a> -
        <a href="{% url 'propose' %}">
          {% trans "Proposer un événement" %}
        </a> -
        <a href="{% url 'feed_list' %}">
          {% trans "Fils RSS et iCal" %}
        </a> -
        <a href="{% url 'stats' %}">
          {% trans "Statistiques" %}
        </a> -
        <a href="mailto:marrakis@gmail.com">
          {% trans "Contact" %}
        </a>
      </p>
      <br />
      <!-- Twitter button -->
      <a href="https://twitter.com/agendadulibre" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @agendadulibre</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <!-- Github  button -->
      <a data-style="mega" href="https://github.com/mlhamel/agendadulibre" class="github-button">Fork</a>
      <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    </div>
    {% block before_end_body %}{% endblock %}
  </body>
</html>
