{% extends "base.html" %}

{% load humanize %}
{% load humantime %}

{% block title %}
<title>{{ event.title }}</title>
{% endblock title %}

{% block content %}
<h2><a href="{{ event.url }}">{{ event.title }}</a></h2>
<b class="date">{{ event.start_time|event_time:event.end_time }}</b><br/>
<br/>
{% if event.venue %}
<b>{{ event.venue}}</b><br/>
{% endif %}
{{ event.address}} <br/>
{{ event.city }}, Québec<br/>
<span class="not-important">
Voir sur <a href="http://maps.google.ca/maps?q={{ event.address }},{{event.city}},Quebec&oe=utf-8&hl=fr">Google Maps</a> ou
<a href="http://cf.maps.yahoo.com/?q1={{ event.address }},{{event.city}},Quebec,Canada">Yahoo Maps</a></span>

<h3>Description</h3>
{% autoescape off %}
{{ event.description }}
{% endautoescape %}
<br/>
<h3>Informations</h3>
Personne ressource : <a href="mailto:{{ event.contact_email }}">{{ event.contact }}</a><br/>
Tags: {{ event.tags }}
<p class="not-important">
Porté: {{ event.get_scope_display }}<br/>
Ajouté le {{ event.submission_time }}<br/>
Dernière mise-à-jour le {{ event.updated_time }}<br/>
</p>
<p>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="agendadulibre" data-lang="fr">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
{% endblock %}
